<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">



    <!--
        use_ros2_control = true: sử dụng ROS2 Control để quản lý controller trong Gazebo.
        use_ros2_control = false: dùng plugin Gazebo trực tiếp, không dùng ROS2 Control.
        Chỉ cần đổi true/false để thay đổi chức năng điều khiển robot.
    -->
    <xacro:arg name="use_ros2_control" default="true"/>


    <xacro:include filename="cauhinh_robot.xacro" />
    
    <xacro:include filename="lidar.xacro" />





    
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>



</robot>